<!DOCTYPE html>
<html>
<head>
    <title>Student Details</title>
</head>
<body>
    <h1>Student Details</h1>
    <div id="studentDetails">
        <h2><%= student.studentName %></h2>
        <p>Email: <%= student.email %></p>
        <p>10th Marks: <%= student.tenmarks %></p>
        <p>12th Marks: <%= student.twelvemarks %></p>
        <p>School: <%= student.school %></p>
        <p>Father Name: <%= student.fatherName %></p>
        <p>Family Income: <%= student.income %></p>
        <p>Rating: <%= student.rating %></p>
    </div>
</body>
</html>

